<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>

<div class="row">
    <div class="col-md-12">

        <p th:if="${loginError}" class="error">Wrong Username or password</p>
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" autofocus="true" autocomplete="off">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" autofocus="true" autocomplete="off">
            <input type="submit" value="Log in">

        </form>
    </div>

</div>
</body>
</html>